<form class="form-inline" #searchForm="ngForm" (ngSubmit)="processSearch()">
  <label>Username:</label>  
  <input class="form-control" type="text" name="username"
    placeholder="Please enter your name..." required ngModel>

    <button class="btn btn-success" type="submit" [disabled]="searchForm.invalid">
      Retrive Saved GIFs
    </button>
  
  </form>
  <div *ngIf="basket.length <= 0">
    <img src="https://media1.giphy.com/media/ToMjGpC57TmX0FLDtyU/giphy.gif">
  </div>
  <div *ngIf="basket.length > 0">
    <app-searchresult [contents]="basket">
    </app-searchresult>
  </div>