<form class="form-inline" #searchForm="ngForm" (ngSubmit)="processSearch()">

  <label>Username:</label>
  <input class="form-control" type="text" name="username" 
  placeholder="Please enter your name..." required ngModel>
  <label>Search:</label>
  <input class="form-control" type="text" name="query" size="50" 
  placeholder="Search by any keyword eg, Trump..." required ngModel>

  <label>Results:</label>
  <input class="form-control" type="text" name="result" 
  placeholder="Enter number of results..." required ngModel>

  <button class="btn btn-success" type="submit" [disabled]="searchForm.invalid">
    Search
  </button>

</form>
<div *ngIf="basket.length <= 0">
  <img src="https://media1.giphy.com/media/ToMjGpC57TmX0FLDtyU/giphy.gif">
</div>
<div *ngIf="basket.length > 0">
  <app-searchresult [contents]="basket">
  </app-searchresult>
</div>

