<form #searchForm="ngForm" (ngSubmit)="processSearch()">
  <div align="center" >

  <input type="text" name="username" size="50" 
  placeholder="Please enter your name..." required ngModel>
  <br/>

  <input type="text" name="query" size="50" 
  placeholder="Search by any keyword eg, Trump..." required ngModel>
  <br/>

  <input type="text" name="result" size="50" 
  placeholder="Enter number of results..." required ngModel>
  <br/>
  </div>
  <button type="submit" [disabled]="searchForm.invalid">
    Search
  </button>

</form>
<div *ngIf="basket.length <= 0">
  <h2>Results display here....</h2>
</div>
<div *ngIf="basket.length > 0">
  <app-searchresult [contents]="basket">
  </app-searchresult>
</div>

