  <!-- pager -->
  <div ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <button [ngClass]="{disabled:pager.currentPage === 1}" 
          (click)="setPage(1)">First
      </button>
      <button [ngClass]="{disabled:pager.currentPage === 1}"
          (click)="setPage(pager.currentPage - 1)">Previous
      </button>
      <button *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
          (click)="setPage(page)">{{page}}
      </button>
      <button [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="setPage(pager.currentPage + 1)">Next
      </button>
      <button [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
          (click)="setPage(pager.totalPages)">Last
      </button>
    </div>

<h4>
  
    <span class="col-md-3" *ngFor="let i of pagedItems" style="background-color: transparent; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
        <img src="{{ i.image }}" width="100%" ><br/>
        <span *ngIf="i.slug != nil">
          <h6>{{ i.slug }}</h6>
         <button class="btn btn-primary" id="btnSave" type="submit" #btnSave (click)="onClicked(i)" [disabled]="i.disable" >Save</button>
        </span>
    </span>

  </h4>

  <!-- <h4>
    <ul align="left">
      <li *ngFor="let i of pagedItems">
          <img src="{{ i.image }}" width="96">
          <div *ngIf="i.slug != nil">
            {{ i.slug }}
           <button id="btnSave" type="submit" #btnSave (click)="onClicked(i)" [disabled]="i.disable" >Save</button>
          </div>
      </li>
    </ul>
  
    </h4> -->