<!--The content below is only a placeholder and can be replaced.-->
<style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
      margin-bottom: 0;
      border-radius: 0;
  }
  </style>
<div style="text-align:center">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> Welcome to {{ title }}</a>
      </div>

    </div>
  </nav>

  <ul class="nav nav-tabs">
    <li> <a [routerLink] = "['/search']"><strong>Search From Giphy</strong></a></li>
    <li> <a [routerLink] = "['/saved']"><strong>Retrieve Saved Gifs</strong></a></li>

  </ul>

  <div class="container-fluid" style="padding:20px">

      <router-outlet></router-outlet>
  </div>

  <!-- <app-search></app-search> -->

  <!-- <button id="btnSavedSearch" type="submit" #btnSave (click)="onClicked(i)" [disabled]="i.disable" >Save</button> -->